html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 125%;
    line-height: 1.15;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
}