html {
    font-family: 'Noto Sans', sans-serif;
    font-size: 125%;
    color: #fff;
    line-height: 1.15;
}

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}