@mixin headings($fontSize, $fontColor) {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: $fontSize;
    color: $fontColor;
}

@mixin button() {
    @include headings(18px, $primaryBlackColor);
    background-color: $accentColor;
    padding: 10px 25px;
    border: none;
}

// Media Query Mixin - Pulled from https: //dev.to/paul_duvall/sass-and-media-queries-hb2
@mixin respond-medium {
    @media (max-width: 850px) {
        @content
    }
}

@mixin respond-small {
    @media (max-width: 550px) {
        @content
    }
}