@import './partials/setup';
@import './partials/variables';
@import './partials/baseStyles';
@import './partials/mixins';

// Styling outside wrapper

header {
    background-image: url(../summit/summit-assets/asset-1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

    .socialnav {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 5%;

            @include respond-medium {
                    display: none;
                }

            li {
                margin: 10px 0;
        
                a {
                    color: $primaryBGColor
                }
        
                a:hover {
                    color: $primaryBlackColor
                }
            }
        }
    }
}

// Header Styling 

.mainHeader {
    @include headings(1.3rem, $primaryWhiteColor);

    h1 {
        text-align: center;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        padding-top: 150px;

        @include respond-medium {
                font-size: 1.8rem;
            }

        @include respond-small {
                font-size: 1.5rem;
            }

        span {
            font-size: 7rem;

            @include respond-medium {
                    font-size: 5rem;
                }

            @include respond-small {
                    font-size: 3.8rem;
                }
        }
    }

    h2 {
        margin: 0
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .fa-bars {
            display: none;
        
            @include respond-medium {
                display: block;
            }
        }

        ul {
                display: flex;
                justify-content: flex-end;
                flex-basis: 50%;

                @include respond-medium {
                        display: none;
                    }
        
                li {
                    margin: 0 auto;
        
                    a {
                        @include headings(1rem, $primaryWhiteColor);
                    }
        
                    a:hover {
                        color: $primaryBGColor;
                    }
        
                }
            }
    }

}


// About Section Styling

.about {
    text-align: center;
    padding: 75px 25px;
    margin-bottom: 75px;
    width: 50%;

    @include respond-medium {
            width: 75%;
        }
    @include respond-small {
        width: 100%;
    }

    h2 {
        @include headings(2rem, $primaryBlackColor);
    }

    p {
        margin: 50px 0;
        line-height: 1.5;
    }
    a {
        @include button();
    }

}

// Middle Banner Styling

.middleBanner {
    background-color: $primaryBGColor;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 100px 0;

        @include respond-small {
                flex-direction: column;
                padding: 50px 0;
            }

        a {
            @include headings(1.3rem, $primaryWhiteColor);
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond-small {
                    margin: 25px;
                    font-size: 1.5rem;
                }
        }
    }

}

// About Me Styling

.aboutmeContainer {
    display: flex;
    padding-top: 100px;
    margin-bottom: 150px;

    img {
        max-width: 25%;
        margin-right: 50px;
    }

    .aboutmeContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            @include headings(2rem, $primaryBlackColor);
            margin: 0 0 15px 0;
        }

        p {
            margin: 0 0 15px 0;
            line-height: 1.5;
        }

        a {
            @include button();
        }
    }
}

// Bottom Images Styling

.imgContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    
    @include respond-small {
         margin: 0 auto;
         width: 100%
    }

    img {
        max-width: calc((100% / 3) - 30px);

        @include respond-small {
            max-width: calc(100% / 2);
            }
    }
    img:nth-child(3) {
        @include respond-small {
            display: none;
            }
    }
}

// Footer Styling

footer {
    background-color: $primaryBGColor;
    padding-top: 100px;
    color: $primaryWhiteColor
}

.mainFooter {
    display: flex;
    justify-content: space-between;

    @include respond-medium {
        flex-direction: column;
    }

    .footerHeadings {
         @include headings(1rem, $primaryWhiteColor);
         margin-bottom: 5px;

         @include respond-small {
            margin: 15px 0 5px 0;
         }
    }

    form {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        
        @include respond-medium {
            text-align: center;
        }

        .submissionInput {
            display: flex;
            margin-top: 15px;

            @include respond-medium {
                width: 85%;
                margin:15px auto;
            }
            @include respond-small {
                flex-direction: column;
            }

            .emailInput {
                padding: 10px 25px;
                flex-basis: 75%;
                border: none;
            }
            .submitButton {
                    cursor: pointer;
                    flex-basis: 25%;
                    @include button();
                }
        }



    }

    .footerMenus {
        display: flex;
        justify-content: space-between;
        flex-basis: 45%;
        line-height: 1.5;
        font-size: 0.8rem;

        @include respond-medium {
            text-align: center;
            margin-top: 15px;
        }

        @include respond-small {
            flex-direction: column;
        }
        .contact p {
            font-style: normal;
        }
        .pages {
            text-transform: uppercase;
        }
    }

    .contact {

        p {
            margin: 0;
        }
    }

    a {
        color: $primaryWhiteColor
    }

}

.copyrightBanner {
    p {
        text-align: center;
        padding-top: 50px;
        margin: 0;
    }
}