@import './partials/setup';
@import './partials/variables';
@import './partials/baseStyles';
@import './partials/mixins';

// Styling outside wrapper

header {
    background-image: url(../summit/summit-assets/asset-1.jpg);
    background-size: cover;
    height: 100vh;

    .socialnav {

        ul {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 5%;
            li {
                margin: 10px 0;
        
                a {
                    color: $primaryBGColor
                }
        
                a:hover {
                    color: $primaryBlackColor
                }
            }
        }
    }
}

// Header Styling 

.mainHeader {
    @include headings(25px, $primaryWhiteColor);

    h1 {
        text-align: center;
        font-size: 32px;
        display: flex;
        flex-direction: column;
        padding-top: 150px;

        span {
            font-size: 150px;
        }
    }

    h2 {
        margin: 0
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .fa-bars {
            display: none
        }

        ul {
                display: flex;
                justify-content: flex-end;
                flex-basis: 50%;
        
                li {
                    margin: 0 auto;
        
                    a {
                        @include headings(18px, $primaryWhiteColor);
                    }
        
                    a:hover {
                        color: $primaryBGColor;
                    }
        
                }
            }
    }

}

@media (max-width: 800px) {
    .mainHeader {
        nav {
            .fa-bars {
            display: block;
            }
            ul {
            display:none
            }
        }
}
    header {
        .socialnav {
            ul {
                display: none;
            }
        }
    }
}


// About Section Styling

.about {
    text-align: center;
    padding-top: 75px;
    margin-bottom: 75px;
    width: 50%;

    h2 {
        @include headings(32px, $primaryBlackColor);
    }

    p {
        margin: 50px 0;
    }
    a {
        @include button();
    }

}

// Middle Banner Styling

.middleBanner {
    background-color: $primaryBGColor;

    ul {
        display: flex;
        justify-content: space-evenly;
        padding: 100px 0 ;

        a {
            @include headings(24px, $primaryWhiteColor);
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

}

// About Me Styling

.aboutmeContainer {
    display: flex;
    padding-top: 100px;
    margin-bottom: 150px;

    img {
        max-width: 25%;
        margin-right: 50px;
    }

    .aboutmeContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            @include headings(32px, $primaryBlackColor);
            margin: 0;
        }

        p {
            margin: 0;
        }

        a {
            @include button();
        }
    }
}

// Bottom Images Styling

.imgContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;

    img {
        max-width: calc((100% / 3) - 30px)
    }
}

// Footer Styling

footer {
    background-color: $primaryBGColor;
    padding-top: 100px;
    color: $primaryWhiteColor
}

.mainFooter {
    display: flex;
    justify-content: space-between;

    .footerHeadings {
         @include headings(18px, $primaryWhiteColor);
    }

    form {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        .submissionInput {

            display: flex;

            .emailInput {
                flex-basis: 75%;
            }
            .submitButton {
                    flex-basis: 25%;
                    @include button();
                }
        }



    }

    .contact {

        p {
            margin: 0;
        }
    }

    a {
        color: $primaryWhiteColor
    }

}

.copyrightBanner {
    p {
        text-align: center;
        padding-top: 50px;
        margin: 0;
    }
}